<a href="https://colab.research.google.com/github/psameni/Pranaya_INFO5731_Spring2020/blob/master/Pranaya_in_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**First Inclass Excercise**

(1) Write a Python program to calculate the length of a string.

In [50]:
stri="inclass"
print(len(stri))

7

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [49]:
stri='inclass'
charcount={}
for i in stri:
  if i in charcount:
    charcount[i] += 1
  else:
    charcount[i] = 1
print("Given String :"+stri)
print("Each Character count: ", charcount)

Given String :inclass
Each Character count:  {'i': 1, 'n': 1, 'c': 1, 'l': 1, 'a': 1, 's': 2}

(3) Write a Python program to sum all the items in a list

In [6]:
lst={1,2,3,4}
lstsum=sum(lst)
print("Sum of the items in given list : ",lstsum)

Sum of the items in given list :  10

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [48]:
stri="inclassinin"
firchar=stri[0]
newstri=stri.replace(firchar,"$")
print(firchar+newstri[1:])

inclass$n$n

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [47]:
def calculateS(a,b):
  S=3.14*(1+(a/b))**3
  return S
print("S output value : ",calculateS(0,1))

S output value :  3.14

(6) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [32]:
dic1={1:10, 2:20}
dic2={3:30, 4:40} 
dic3={5:50,6:60}
print("New Dictionary after concatenation:",{**dic1,**dic2,**dic3})

New Dictnaory {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [33]:
tuple1=(1,2,3)
if 2 in tuple1:
  print("Present")
else:
  print("Not Present")

Present

(8) Write a Python program to find maximum and the minimum value in a set.

In [46]:
set1 = [1,2,3,4,5,6,7,8,9,0]
print("Minimum  value in the set : ",min(set1))
print("Maximum  value in the set : ",max(set1))

Minimum  value in the set :  0
Maximum  value in the set :  9

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [44]:
import random
student_list =  ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
for i in range(4):
  sampling = random.choices(student_list, k=9)
  student_list = [i for i in student_list if i not in sampling ]
  print("Group",i+1,": ", sampling)

Group 1 :  ['lba0043', 'al0787', 'tpk0023', 'ap0975', 'lba0043', 'ap0975', 'sa0753', 'am1823', 'ss1872']
Group 2 :  ['vcd0017', 'dp1080', 'sm1515', 'vcd0017', 'km0738', 'bs0490', 'pb0283', 'lg0426', 'ss1976']
Group 3 :  ['vk0216', 'vp0241', 'tbl0041', 'tbl0041', 'tbl0041', 'ry0104', 'vp0241', 'ps0501', 'pt0218']
Group 4 :  ['rp0477', 'ak0860', 'rp0477', 'vk0222', 'nk0327', 'hn0139', 'rp0477', 'pk0292', 'hn0139']